@import url(template-main.css);

#portfolio .image {
  min-height: 16rem;
  background-position: 50%;
  background-size: auto 105%;
  background-repeat: no-repeat;
}

#portfolio .inner {
  background-color: rgba(0, 0, 0, 0.125);
}

.button.special.active {
    background-color: #1ebdd1;
}

.gallery.style2 > .inner {
    /*display: flex;
    justify-content: center;*/
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  #wrapper section {
    text-align: justify;
  } 
  
    #wrapper section h2 {
      text-align: center;
    }

  #wrapper section:nth-child(1) {
    text-align: center;
  }
}
