@import url(template-main.css);

body {
  background-color: #30363d;
}

#wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

#portfolio .image {
  min-height: 16rem;
  background-position: 50%;
  background-size: auto 105%;
  background-repeat: no-repeat;
}

#portfolio .inner {
  background-color: rgba(0, 0, 0, 0.125);
}

.button.special.active {
  background-color: #1ebdd1;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  #wrapper section {
    text-align: justify;
  }

  #wrapper section h2 {
    text-align: center;
  }

  #wrapper section:nth-child(1) {
    text-align: center;
  }

  #wrapper .spotlight.style5 {
    padding: 2rem 0 0.1rem 0;
  }
}

.spotlight.style5 .content {
  background-color: rgb(255, 255, 255, 0.95);
  min-width: 100%;
}


#wrapper .banner.style3,
#wrapper .spotlight.style5 {
  padding: 3rem 0 1.5rem 0;
}

@media screen and (min-width: 736px) {

  #wrapper .banner.style3,
  #wrapper .spotlight.style5 {
    padding: 3rem 3rem 1.5rem 3rem;
  }
}

#wrapper .wrapper.style1>.inner {
  padding: 3rem 2.5rem 3rem 2.5rem;
}

@media print {
  #wrapper {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  header h3+p {
    font-size: 0.65rem;
  }

  p.major {
    font-size: 0.7rem;
  }

  body {
    font-size: 0.5rem;
  }

  .banner.style3.orient-left .image {
    width: 150px;
    height: auto;
  }

  #wrapper .banner.style3 {
    align-items: flex-start;
  }

  #wrapper .banner.style3,
  #wrapper .spotlight.style5 {
    padding: 0;
  }

  .spotlight.style5 .content {
    padding: 1.5rem 2rem;
  }

  footer,
  #contact,
  #projects,
  #cv-buttons,
  ul.icons {
    display: none;
  }

  .banner.style3.orient-left .image {
    margin-bottom: 0;
  }
}